*{ margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background:#e9e1e1 ;
    color:rgb(0, 0, 0) ;
    font-size: 20px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.introduction{
    border: 1px solid grey;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 30px;
    background: beige;
    box-shadow: 5px 5px 20px 0px;
   
}

.pictureingmar{ 
    border: 1px solid grey;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 30px;
    background: blanchedalmond;
    box-shadow: 5px 5px 20px 0px;
    text-align: center;
   
}

.text-styled{
    border: 1px solid grey;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 30px;
    background: rgb(255, 153, 0);
    box-shadow: 5px 5px 20px 0px;
    align-items: center;


}

.chapters{
    border: 1px solid grey;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 30px;
    background: rgb(9, 65, 185);
    box-shadow: 5px 5px 20px 0px;
    align-items: center;
}

.followme{
    border: 1px solid grey;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 30px;
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 20px 0px;
    align-items: center;

  
}

.listsocial{
    list-style: none;
}

.listsocial li{
    display: inline;
}

.listsocial li a i{
    font-size: 50px;
}

.image-circle{
    border-radius: 30%;
}

h1 {
    font-size: 40px;
    font-weight: bold ;
    color: blue;
    font-family: 'Cambria', serif;
}


h2 {
    font-size: 30px;
    color: rgb(4, 116, 0);
}
    a { 
        color: rgb(255, 0, 200);
    text-decoration: none;
    
    
    }
    a:hover
    { color: salmon;}

    }

    @media (max-width: 1024px) { .container { width: 500px ;
    color: red;}
    }
